<% if @current_user.nil? %>
    <!-- 로그인 되지 않은 상태 -->
    <%= link_to '로그인', '/sign_in' %>
<% else %>
    <!-- 로그인 된 상태 -->
    <p>현재 로그인된 유저: <%= @current_user.user_id %></p>
    <%= link_to '로그아웃', '/logout' %>
<% end %>
<div>
    <% @posts.each do |post| %>
    <a href="/board/<%= post.id %>"><%= post.title %></a>
    <% end %>
</div>
<%= link_to "새글쓰기", "/board/new" %>